* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: #f1f5f8;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    /* border-bottom: 1px solid gray; */
    box-shadow: 5px 10px 8px -8px #888888;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

.navbar h2 {
    color: #4c68af;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;

}

.navbar ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #5a5757;
    margin: 0px 6px;
    padding: 5px 20px;
}

.navbar ul li a:hover {
    background-color: #79b1d7;
    color: white;

}

/* main section -- centering button in the middle of the page*/

.hero-btn {
    padding: 15px 40px;
    background-color: transparent;
    border: 1px solid #7993d7;
    font-size: 20px;
    color: #4c68af;
    margin: 20px auto;
    width: 65%;
    border-radius: 10px;
}

.hero-btn:hover {
    background-color: #7993d7;
    color: white;
}

.mainSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainSection h2 {
    background-color: #1e1e1f;
    color: white;
    padding: 17px 14px;
    border-radius: 10px;
}